<footer class="foot">
  
    <h3>FOLLOW DEEPEE INVESTMENT CONSULTANTS</h3>
        <ul class="social-network social-circle">
          <li class="list-inline-item scn "><a class="icoLinkedin" href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li class="list-inline-item scn "><a class="icoTwitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item scn"><a class="icoFacebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
         <li class="list-inline-item scn"><a class="icoInstagram" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
      </ul>
     
       <ul>
           <li class="list-inline-item info"><i class="fa fa-map-marker"></i><p>Greater Noida</p> </li>
          <li class="list-inline-item info"><i class="fa fa-phone"></i><p>+91-9810538211</p></li>
          <li class="list-inline-item info"><i class="fa fa-envelope"></i><p><a href="mailto:bajaj.alok30@gmail.com">bajaj.alok30@gmail.com</a></p></li>
          </ul>
        </footer>
    <!-- Footer -->
    <section class="sub-footer">
    <p>Made with <i class="fa fa-heart"></i> by ASR Innovations </p> 
    </section>