<nav class="bar">
    <div class="name">
       DEEPEE INVESTMENT CONSULTANTS
    </div>
    <div class="menu">
       <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about-us">About us</a></li>
          <li><a href="/#ser">Services</a></li>
          <li><a href="/feedback">Client Reviews</a></li>
          <div class="dropdown">
             <li> <a href=""><i class="fa fa-phone"></i></span></a></li>
             <div class="dropdown-content">
               <a href="#">Harsh</a>
               <a href="#">Harsh</a>
               <a href="#">Harsh</a>
             </div>
         </div>       
         <li>
           <a id="ContactModalOpen" class="nav-link" style="color: white">Get in Touch</a>
         </li>
       </ul>
    </div>
 </nav>